!!!  
%html  
  %head  
    %title Good News
    %link{:rel => "icon", :type => "image/png", :href => "/img/favicon.png"}
    %link{:rel => "stylesheet", :href => "https://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css"}
    %link{:rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=Josefin+Sans:300,400", :type => "text/css"}
    %link{:rel => "stylesheet", :href => "/css/foundation.css"}
    %link{:rel => "stylesheet", :href => "/css/main.css"}
    %script{ :type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"}
    %script{ :type => "text/javascript", :src => "/js/register.js"}
  %body
    #wrapper
      .logo
  
      #content  
        =yield 

    %footer
      .row
        .large-6.small-12.small-centered.columns
          %img{:src => '/img/WhiteBug.png'}
          %p.white Powered by Twilio
